@import '../variables';

.projects {
    &-section {
        height: 200vh;
    }

    &-body {
        columns: 2 auto;
        margin-top: 3vh;
        margin-left: 10vh;
        margin-right: 10vh;
    }
}

.project {
    &-card {
        height: 80vh;
        box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
        margin-bottom: 3rem;
        &-content {
            height: 100%;
            &-title {

            }
            &-description {

            }
            &-image {
                width: 100%;
                float: left;
                display: block;
            }
            &-skill {
                margin-right: 1rem;
            
            }
            &-link {
                border-radius: 1rem;
                border: 2px solid black;
                padding: 5px;
                cursor: pointer;
            }
        }

    }
}