@import '../variables';

.projects {
    &-section {
        height: 200vh;
    }

    &-body {
        margin-top: 3vh;
        margin-left: 10vh;
        margin-right: 10vh;
    }
}

.project {
    &-card {
        height: 40vh;
        box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
        margin-bottom: 3rem;

        &-content {
            text-align: center;
            height: 100%;


            &-title {
                margin-top: 2rem;
            }
            &-description {

            }
            &-image {
                height: 100%;
                display: block;
                margin: auto;

                &-container{
                    height: 100%;
                    float: left;
                    display: block;
                    left: 0;
                    width: 40%;
                    overflow: hidden;
                    border: 2px solid black;

                }
            }
            &-skill {
                margin-right: 1rem;
            
            }
            &-link {
                border-radius: 1rem;
                border: 2px solid black;
                padding: 5px;
                cursor: pointer;
            }
        }

    }
}