@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #f6f6f6;
}

a {
	text-decoration: none;
	color: black;
}

.logo {
	height: 125px;
	width: 125px;
	margin-left: auto;
	margin-right: auto;
	display: block;

}
.home-link {
	position: center;
}
.bg-img {
	width: 100%;
	height: auto;
}

.base {
	width: 100%;
}

.info-title-wrapper {
	padding-bottom: 4rem;
	padding-top: 2rem;
}

.nav-wrapper {
	text-align: center;
	border-style: solid;
	border-width: 2px 0 0;
	border-color: #e9e9e9;
	padding: 5px 0;
}

.nav-wrapper ul li {
	display: inline;
	margin: 0 auto;
	margin-left: 5rem;
	margin-right: 5rem;
	font-size: 11px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
}

.cf{
	padding-left: 0px;
}