@import url(https://fonts.googleapis.com/css?family=Comfortaa);

@import 'variables';
@import 'basic';

body {
	background-color: $secondary-color;
}

a {
	text-decoration: none;
	color: black;
}

.logo {
	height: 200px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;

	&-container {
		height: 250px
	}

}
.home-link {
	position: center;
}
.bg-img {
	width: 100%;
	height: auto;
}

.base {
	width: 100%;
	background-color: $base-color;
	height: 2000px;
}

.info-title-wrapper {
	padding-bottom: 4rem;
	padding-top: 2rem;
}

.nav-wrapper {
	height: 50px;
	text-align: center;
	border-style: solid;
	border-width: 2px 0 0;
	border-color: #e9e9e9;
	padding: 5px 0;
	background-color: $secondary-color;
}

.nav-wrapper ul li {
	display: inline;
	margin: 0 auto;
	margin-left: 5rem;
	margin-right: 5rem;
	font-size: 11px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
}

.cf{
	padding-left: 0px;
}